# Build / Maven
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# IntelliJ / Eclipse / VS Code
.idea/
*.iml
*.iws
*.ipr
.project
.classpath
.settings/
.vscode/
.sts4-cache

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

# Arquivos de ambiente e configs locais
.env
**/application.properties.local

# Arquivos de log / runtime
*.log
*.out
*.err